KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9215", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9217", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9218", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9219", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="921c", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="921e", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9221", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9222", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9226", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9227", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9232", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="9236", MODE:="666", SYMLINK+="acdctl%n"
KERNEL=="hiddev*", ATTRS{idVendor}=="0419", ATTRS{idProduct}=="8002", MODE:="666", SYMLINK+="acdctl%n"
